/* 
    Author     : bianca
*/

@import url(https://fonts.googleapis.com/css?family=Barrio);
@import url(https://fonts.googleapis.com/css?family=Lato:400,500);
body {
  	margin: 0;
  	background-color: #FFECAA;
  	font-family: 'Lato', sans-serif;
}

h1, h2 {
	font-family: 'Barrio', cursive;
	font-size: 38px;
}

.container {
	margin: 0 auto;
	width: 700px;
	background-color: #FFECAA;
}

header {
	padding: 30px;
	background: url(https://images.pexels.com/photos/158780/leaf-nature-green-spring-158780.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) 10% 65%;
}

header h1 {
	font-weight: bold; 
	text-transform: uppercase;
	font-size: 58px;
}

header p, header h1 {
	text-align: center;
    color: white;
}

header p {
	font-size: 38px;
	font-weight: bold; 
}

section {
	padding: 0 20%;
}

.about h2 {
	margin-top: 60px;
  	font-size: 28px;
  	color: #3F88C5;
	background-color: #D4BC6A;
}

.interests h2 {
	margin-top: 40px;
	font-size: 28px;
  	color: #3F88C5;
	background-color: #D4BC6A;
}

footer {
	margin-top: 60px;
	padding: 30px;
	background-color: #554200;
	color: white;
}

footer p {
	text-align: center;
  	color: white;
}

footer a {
  text-decoration: none;
  color: #FFC532;
  font-weight: bold;
}
 